<div class="container">
  <div class="row">
    <h2 class="text-center mt-5">Our Books</h2>

    <div class="row row-cols-1 row-cols-md-4 g-4 d-flex align-items-stretch">
      <div class="col" *ngFor="let product of products">
        <div class="card">
          <a (click)="onSelect(product)" routerLink="/item">
            <img
              src="{{ getId(product.isbn) }}"
              class="card-img-top"
              alt="{{ product.title | lowercase }}"
            />
            <div class="card-body">
              <h5 class="card-title">{{ product.title | uppercase }}</h5>
              <div class="book-author">by {{ product.author }}</div>
              <div class="book-price">{{ product.list_price | currency }}</div>
            </div>
          </a>
        </div>

        <button class="btn btn-primary mt-3" (click)="onAddToCart(product)">
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</div>
