<p>product-item works!</p>
<div class="container-flex">
    <div class="row">
        <div class="col-6">
            <img src="{{ getId(product.id) }}" alt="">
        </div>

        <div class="col-4">
            <h2>{{product.title | uppercase}}</h2>
            <div>by <span>{{product.author}}</span></div>
            <div>{{product.description}}</div>
        </div>
        
        <div class="col">
            <div id="price">${{product.list_price}}</div>
            <div class="purchase">
                <!-- [disabled]="isInCart" makes all buttons disabled-->
                <button class="btn btn-success btn-lg btn-block" (click)="onAddToCart(product)">Add to Cart</button>
            </div>
        </div>
    </div>
</div>